@import url('https://fonts.googleapis.com/css?family=Comfortaa|Courgette|Great+Vibes|Josefin+Sans|Kaushan+Script|Lato|Stylish&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans',sans-serif;
    line-height: 1.4;
}
#navbar{
    padding:10px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: coral;
    z-index: 10;
}
#navbar .nav-brand{
    width: 200px;
    height: 50px;
    justify-content: flex-start;
}

.nav-list{
    justify-items: center;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    margin-left: auto;
    display: flex;
}

.nav-link{
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 20px;
}

.nav-link:hover{
    border-radius: 5px;
    border: 0 solid ;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    background-color: white;
}

/*WELCOME SECTION*/
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffff99;
    background-image: linear-gradient(to right, #ffff99, #ffe29a, #ffcab9, #ffbfe1, #f4c1ff);
}

h1{
    font-weight: 100;
    font-size: 4em;
    font-family: 'Kaushan Script', cursive;
}

p{
    font-weight: 200;
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
}

/*Project Section*/
#projects{
    margin-top: 5px;
    background: #ffe29a ;
    text-align: center;
    padding:20px 2px;
}

.project-grid{
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 10px;
    margin: 0 auto;
}
.card{
    padding-bottom: 5px;
    border-radius: 5px;
    border: 0 solid ;
    background: #ffff99;
    margin:30px 10px ;
}
.img{
    height: 300px;
    width: 100%;
}

.card p{
    font-size: 1.2em;
}

.card a{
    text-decoration: none;
    color: #000;
}

.card:hover{
    transform: rotateZ(2deg) ;
}

/*CONTACT*/
.contact-section{
    background-color: #f4c1ff;
    margin-top: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding:20px 2px;
    align-items: center;
    height: 40vh;
}

.contact-links {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.details{
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease-out;
}

.details:hover{
    transform: translateY(8px);
}

.main-footer{
    background-color: #ffff99;
    margin-top: 5px;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.main-footer p {
    font-size: 1em;
}

/*RESPONSIVE*/
@media (min-width: 768px) and (max-width: 1024px){
    h1{
    font-weight: 100;
    font-size: 3em;
    font-family: 'Kaushan Script', cursive;
    }

    p{
        font-weight: 200;
        font-size: 1.5em;
        font-family: 'Comfortaa', cursive;
    }
}

@media (max-width: 768px) {
    .nav-link{
        font-size: 1em !important;
    }

    h1{
        font-weight: 100;
        font-size: 2em;
        font-family: 'Kaushan Script', cursive;
    }

    p{
        font-weight: 200;
        font-size: 1em;
        font-family: 'Comfortaa', cursive;
    }
}